* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/*Animation*/

.logoanimation {
	/*border: 2px solid black;*/
	position: relative;
	animation-name: bounce;
	animation-duration: 20s;
	z-index: 1;
}

@keyframes bounce {
	0% {  bottom: 60%; }
	25% {  bottom: 60%; }
	50% {  bottom: 0%; }
	/*75% {  bottom: 30%; }*/	
	100% {  bottom: 0%; }


}

/*.animation {
	position: relative;
	height: 20vh;
	width: 20vw;
	border: 2px solid white;
	animation-name: myanimation;
	animation-duration: 4s;
	
	animation-iteration-count: infinite;
}

@keyframes myanimation {
	0% { left: 0px; top: 0px; }
	25% { left: 20px; top: 0px; }
	50% { left: 20px; top: 20px; }
	75% { left: 0px; top: 20px; }
	100% { left: 0px; top: 0px; }
}*/


.page1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	/*border: 2px solid orange;*/
	background: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	transform-style: scale(1.2);
	transition: 10s;
	


}

.titlebox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	/*border: 2px solid orange;*/
	background-color: rgba(0, 0, 0, 0.9);
	
	color: white;

}

.titlebox > h1 {
	
	/*border: 2px solid orange;*/

}



.bodybox {
	/*position: relative;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60%;
	/*border: 2px solid orange;*/
	/*background: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	transform-style: scale(1.2);
	transition: 10s;*/

	/*background-color: #8c52ff;*/
}

.logo {
	height: 6vh;
	width: 6vw;
}

.pic1 {
	height: 25vh;
	width: 15vw;
	border-radius: 50%

}

.bottombox {
	height: 30%;
	/*border: 2px solid orange;*/
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	justify-content: space-around;
	align-items: center;		
}

.bottombox1 {
	/*border: 2px solid orange;*/
	width: 15%;
	height: 80%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 5%;

}

.bottombox1:hover {
	transform: scale(1.3);

}

.bottombox1:hover > .user, .bottombox1 > .user:hover {
	visibility: visible;
}


.bottomboximg {
	height: 7vh;
	width: 7vw;

}

.user {
	/*border: 2px solid orange; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.3vw;
	visibility: hidden;
}


.page2 {
	background: url(../images/bg1.jpg);
	background-position: center;
	background-size: cover;
	transform-style: scale(1.2);
	transition: 10s;
}





.page2body {
	height: 90vh;
	/*border: 2px solid orange;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}

.box {
	/*border: 2px solid orange;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 2px solid orange;*/
	border-radius: 5%;
	width: 30vw;
	height: 60vh;
	color: white;

}

.jiptext {
	color: white;
}

.box1 {
	background-color: rgba(0, 0, 0, 0.9);
}
.box2 {
	background-color: rgba(0, 0, 0, 0.9);
}
.box3 {
	background-color: rgba(0, 0, 0, 0.9);
}




.box > img {
	height: 40%;
	width: 40%;
}

.page2bottom {
	height: 10vh;
	/*border: 2px solid orange;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-flow: column-reverse;
}

.bottomlogo {
	height: 5vh;
	width: 5vw;
}

.homebutton {
	color: white;
}


@media only screen and (min-width: 961px) and (max-width: 1280px){
	
	
	
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	@keyframes bounce {
	0% {  bottom: 40%; }
	25% {  bottom: 40%; }
	50% {  bottom: 0%; }
	/*75% {  bottom: 20%; }*/	
	100% {  bottom: 0%; }
}
}
/*mobile*/

@media only screen and (max-width: 400px){ 

	.pic1 {
	height: 15vh;
	width: 15vw;
	border-radius: 50%

	}

	.page2body {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.box {
		height: 25vh;
		width: 80vw;
	}



	.bottombox {
		flex-direction: column;
		height: 90vh;
		width: 100vw;
	}

	.bottombox1 {
		height: 8vh;
		width: 95vw;
		flex-direction: row;
	}

	.user-text {
		font-size: 2vh;
	}

	.user-text2 {
		font-size: 1vh;
	}





	@keyframes bounce {
	0% {  bottom: 40%; }
	25% {  bottom: 40%; }
	50% {  bottom: 0%; }
	/*75% {  bottom: 20%; }*/	
	100% {  bottom: 0%; }
	}

}



